@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.carte{
    margin : 20px;
    padding: 15px 15px 15px 15px;
    min-width : 330px;
    max-width : 330px;
    border-radius: 15px 15px;
    border: solid #c7c4c3 1px;
    cursor : pointer;
}

.valide{
    border: solid #34B233 2px;
}
.nonValide{
    border: solid #FF5660 2px;
}
.valideButton{
    background-color: #34B233;
}
.nonValideButton{
    background-color: #FF5660;
}
.valideButton:hover{
    background-color: #FF5660;
    transition:
            background-color 1s,
            border 1s;
}
.nonValideButton:hover{
    background-color: #34B233;
    transition:
            background-color 1s,
            border 1s;
}


.carte:hover{
    box-shadow: 0px 2px 2px 2px rgba(145, 145, 145, 0.2);
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.carte h1{
    font-size: 18px;
    font-weight: bold;
}

.carte h2{
    font-size: 16px;
    font-weight: normal;
}

.carte p{
    font-size: 12px;
    color : #7c7c7c;
}

.groupCartes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.toutesLesCartes{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    font-family: 'Noto Sans', sans-serif;
}

.toutesLesCartes a{
    text-decoration: none;
    color: black;
}


.offre_detail{
    margin : 100px;
    padding: 20px;
    border-radius: 15px 15px;
    border: solid #c7c4c3 1px;
    font-family:'Noto Sans', sans-serif;
}

.offre_detail h1{
    font-size: 26px;
}

.offre_detail h2{
    font-size: 16px;
}

.offre_detail h3{
    font-size: 16px;
    font-weight: bold;
}


.buttonDeBase{
    padding: 7px 12px;
    border-radius: 5px 5px;
    color:white;
    text-decoration: none;
    font-size: 14px;
    border: solid black 2px;
}


.type{
    border-radius: 5px 5px;
    background-color: #d7d7d7;
    padding: 8px;
    color: #575757;
    font-size: 14px;
}

.page{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.page a{
    border: solid #c7c4c3 2px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 8px 15px;
}

.page a:hover{
    color:white;
    background-color: #F44336;
}

.page p{
    color:white;
    background-color: #F44336;
    border: solid #c7c4c3 2px;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 15px;
}

.hidden{
    visibility: hidden;
}

.supcase{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.case{
    margin-top: 0;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #595959;
    background-color: #F3F2F1;
}

.boutonsGeneral a{
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    background-color: #F44336;
    padding: 5px 20px;
    margin-right: 20px;
}
.boutonsGeneral a:hover{
    background-color: #fc5049;
}

hr{
    margin-top: 30px;
}

/* --------------------------------------------------*/

.filtre_offre{
    display: flex;
    flex-direction: row;
}
.filtre_offre article{
    margin-right: 20px;
    border-radius: 5px;

}
article input[type=submit]{
    padding: 10px 20px;
    background-color: #fc5049;
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

article input[type=submit]:hover{
    transform: scale(0.95);
    background-color: #ff6e68;
    transition: transform 1s,
                background-color 1s;
}