@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

form .user-details .input-textarea{
    margin-bottom: 15px;
    width: calc(100%);
}

form .user-details .input-textarea label.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}


form select{
    width: 100%;
    min-height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom-width: 2px;
    padding-left: 15px;
    font-size: 16px;
    background-color: white;
}

textarea{
    height: 150px;
    width: 100%;
    resize : none;
    position: relative;
    letter-spacing: 1px;
}
textarea:focus,
textarea:valid{
    border-color: #F44336;
}