@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

/* image temporaire css tempo*/
img{
  height: 99%;
  width: 99%;
}

nav {
  display: flex;
  box-shadow: 10px 1px 5px #b9b9b9;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 18px 0px;
}

nav > div{
  display: flex;
  position : relative;
  align-items: center;
}

nav img{
  margin-left: 8%;
  height: 16%;
  width: 16%;
}

nav h1{
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

nav div a {
  color: rgb(0, 0, 0);
  padding: 15px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

nav div a:hover{
  color: #F44336;
}

.submenu{
  display : none;
  background-color: #f9f9f9;
  position:absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 190px;
}

nav div:hover .submenu{
  display : block;
}

.submenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.submenu a:hover {
  background-color: #f1f1f1;
  text-decoration : none;  
}

.connexion{
  position: absolute;
  padding: 10px;
  background-color: #F44336;
  border-radius: 10px 10px;
  color: white;
  text-decoration: none;
  right: 3%;
}

#connex{
  top: 50%;
}

.connexion:hover{
  transition: all 0.3s ease;
  transform: scale(0.96);
}

#imgburger{
  width: 50px;
  height: 50px;
}

#imgLogo{
  width: 250px;
  height: auto;
}

.burger{
  display: none;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: white;
}

.burger a{
  text-decoration: none;
  color : black;
  padding: 100% 0%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

#menu2 div{
  margin-left: 10px;
  padding: 15px 0%;
}

#menu2 div:hover{
  background-color: #7BB3AF;
}

#menu2{
  display: none;
  background-color: #ffffff;
}

.burger:hover #menu2{
  display: block;
}

form{
  margin-left: 10%;
}

#actuel{
  color: #F44336;
  border-color: #F44336;
}

.msgConfirmation{
  display: block;
  font-weight: bold;
  border-radius: 10px 10px;
  box-shadow: 1px 1px 5px 5px rgba(145, 145, 145, 0.2);
  margin-top: 15px;
}

.msgConfirmation > p{
  margin-left: 5%;
  font-family: 'Noto Sans', sans-serif;
  padding: 3px 0px;
}

.title{
  font-family: 'Poppins',sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 50px;
}

.title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background-color: #F44336;;
}

#monCompte img{
  margin-top: 10px;
  margin-right: 5px;
  height: 32px;
  width: 32px;
}

#monCompte{
  border: solid #c7c4c3 2px;
  padding-right: 15px;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
}
#buttonCompte{
  cursor: pointer;
}

.submenuCompte{
  margin-top: 120px;
}
#buttonCompte:hover #monCompte{
  border: solid #F44336 2px;
}


footer{
  margin-top: 200px;
  background-color: #000000;
  padding: 5px 5px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}


@media(max-width: 784px){
  nav{
    display: none;
  }

  .burger{
    display: inline-block;
  }
}
/*---------------------------*/
/*
article {
  display: inline-flex;
  width: 8%;
  height: 5%;
  margin: 5px;
  float: left;
  border: 2px solid #FF5660;
  box-sizing: border-box;
  border-radius: 10px 10px;
  padding: 5px;
}

article div {

  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  transition: .5s ease;
  border-radius: 10px 10px;
}

article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 100px;
  opacity: 0;
  cursor: pointer;
}

input[type=checkbox]:checked ~ div {
  background-color: #FF5660;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin: 0%;
    width: 100%;
  }
}*/
